BindManage/NewSys/App_WebReferences/NewWorkFlowSys/HistoryRecord/HistoryRecordManage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveEventLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eventLog" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveEventLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiverName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageSubject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageContent" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveEventLogSoapIn">
    <wsdl:part name="parameters" element="tns:SaveEventLog" />
  </wsdl:message>
  <wsdl:message name="SaveEventLogSoapOut">
    <wsdl:part name="parameters" element="tns:SaveEventLogResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="HistoryRecordManageSoap">
    <wsdl:operation name="SaveEventLog">
      <wsdl:input message="tns:SaveEventLogSoapIn" />
      <wsdl:output message="tns:SaveEventLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HistoryRecordManageSoap" type="tns:HistoryRecordManageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEventLog">
      <soap:operation soapAction="http://tempuri.org/SaveEventLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HistoryRecordManageSoap12" type="tns:HistoryRecordManageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveEventLog">
      <soap12:operation soapAction="http://tempuri.org/SaveEventLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HistoryRecordManage">
    <wsdl:port name="HistoryRecordManageSoap" binding="tns:HistoryRecordManageSoap">
      <soap:address location="http://localhost:12256/NewWorkFlowSys/HistoryRecord/HistoryRecordManage.asmx" />
    </wsdl:port>
    <wsdl:port name="HistoryRecordManageSoap12" binding="tns:HistoryRecordManageSoap12">
      <soap12:address location="http://localhost:12256/NewWorkFlowSys/HistoryRecord/HistoryRecordManage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>